.contact-form {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background: rgba(0, 0, 0, 0.2); /* Dark background with slight transparency */
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Darker shadow for depth */
    backdrop-filter: blur(5px);
    color: #FFF;
    font-family: 'Inter', sans-serif;
}

.contact-form h2 {
    margin-bottom: 20px;
    color: #FFF; /* Ensuring the heading stands out */
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    color: #FFF; /* Light color for labels for readability */
}

.form-group input[type="text"],
.form-group input[type="email"],
.form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #c097e9; /* A lighter purple border for visibility */
    border-radius: 5px;
    background-color: transparent; /* Keep input background transparent for style */
    color: #FFF; /* White text for visibility */
}

.form-group textarea {
    resize: vertical; /* Allows resizing the textarea vertically */
}

button[type="submit"] {
    display: inline-block;
    padding: 10px 20px;
    background-color: #c097e9; /* Purple button */
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s; /* Smooth transition for hover effect */
}

button[type="submit"]:hover {
    background-color: #d7b7f6; /* Lighter purple on hover for a pleasant visual effect */
}
