.contact-form {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px); 
    color: #FFF;
    font-family: 'Inter', sans-serif;
}

.contact-form h2 {
    margin-bottom: 20px;
    color: #FFF;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    color: #FFF;
}

.form-group input[type="text"],
.form-group input[type="email"],
.form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #c097e9;
    border-radius: 5px;
    background-color: transparent;
    color: #FFF;
}

.form-group textarea {
    resize: vertical;
}

button[type="submit"] {
    display: inline-block;
    padding: 10px 20px;
    background-color: #c097e9;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button[type="submit"]:hover {
    background-color: #d7b7f6;
}
