/* Global Dark Mode Styles */
body {
    background-color: #121212; /* Dark background for the whole page */
    color: #ffffff; /* Light text for readability */
}

/* Footer Styles */
footer {
    position: fixed;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 15px;
    background: rgba(0, 0, 0, 0.2); /* Slightly transparent dark background */
    border-radius: 15px;
    font-size: 16px;
    color: #FFF;
    flex-wrap: wrap;
    text-align: center;
    backdrop-filter: blur(5px);
}

footer img {
    display: block;
    width: 25px;
    height: 25px;
    margin: 0 8px;
}

footer a {
    color: #FFF;
    text-decoration: underline;
    white-space: nowrap;
    margin-left: 8px;
}

footer a:hover {
    color: #c097e9;
    text-decoration: none;
}

/* Link Styles */
p a, .github-project a, .portfolio a, nav a {
    color: #9a9aff;
    text-decoration: underline;
}

p a:hover, .github-project a:hover, .portfolio a:hover, nav a:hover {
    color: #7928CA;
    text-decoration: none;
}

.github-project {
    background: #1e1e1e; /* Slightly lighter than pure black for better layering */
    border-radius: 6px;
    margin-bottom: 1rem;
    padding: 1rem;
    transition: transform 0.2s ease, background-color 0.2s;
}

.github-project:hover,
.github-project:focus-within {
    transform: scale(1.03);
    background: #292929; /* A subtle hover effect */
}

.github-project a {
    color: #c097e9; /* Ensuring links are visible */
    text-decoration: none;
}

.github-project strong {
    font-size: 1.1rem;
    display: block;
    margin-bottom: 0.5rem;
    color: #FFF; /* White text for headers */
}

.github-project p {
    font-size: 0.875rem;
    margin-bottom: 0.5rem;
    color: #DDD; /* Light grey for paragraph text to reduce intensity */
}

.github-metadata {
    font-size: 0.75rem;
    display: block;
    color: #bbb; /* Subtle metadata information */
}

/* Spotify Profile Styles */
.spotify-profile img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

/* Lama Animation Styles */
#lama-container {
    position: fixed;
    top: 50px;
    left: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;
    z-index: 10;
}
  
.lama {
    position: absolute;
    width: 50px;
    height: 50px;
    animation: fallturn 7s linear forwards;
}

@keyframes fallturn-clockwise {
    0% { transform: translateY(0) rotate(0deg); }
    100% { transform: translateY(calc(100vh - 50px)) rotate(360deg); }
}
  
@keyframes fallturn-counterclockwise {
    0% { transform: translateY(0) rotate(0deg); }
    100% { transform: translateY(calc(100vh - 50px)) rotate(-360deg); }
}
